@import url('https://fonts.googleapis.com/css2?family=Basic&family=JetBrains+Mono&display=swap');

  * {
	box-sizing: border-box;
}

body {
	margin: 0px;
	padding: 20px;
	padding-block-start: 5px;
}
.emscripten {
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block
}

textarea.emscripten {
	font-family: 'JetBrains Mono', monospace;
	color: #333333;
	width: 100%;
}

div.emscripten {
	text-align: center
}

div.emscripten_border {
	border: 1px solid #000
}

canvas.emscripten {
	border: 0 none;
	background-color: #000
}

.spinner {
	height: 50px;
	width: 50px;
	margin: 0 auto;
	-webkit-animation: rotation .8s linear infinite;
	-moz-animation: rotation .8s linear infinite;
	-o-animation: rotation .8s linear infinite;
	animation: rotation .8s linear infinite;
	border-left: 10px solid #0096f0;
	border-right: 10px solid #0096f0;
	border-bottom: 10px solid #0096f0;
	border-top: 10px solid #6400c8;
	border-radius: 100%;
	background-color: #c864fa
}

@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(0)
	}
	to {
		-webkit-transform: rotate(360deg)
	}
}

@-moz-keyframes rotation {
	from {
		-moz-transform: rotate(0)
	}
	to {
		-moz-transform: rotate(360deg)
	}
}

@-o-keyframes rotation {
	from {
		-o-transform: rotate(0)
	}
	to {
		-o-transform: rotate(360deg)
	}
}

@keyframes rotation {
	from {
		transform: rotate(0)
	}
	to {
		transform: rotate(360deg)
	}
}

h1 {
	font-family: 'Basic', sans-serif;
	font-size: 2em;
	color: #ffbb88;
	margin-block-start: 0;
    margin-block-end: 0;
}

h2 {
	font-family: 'Basic', sans-serif;
	font-size: 1.3em;
	color: #666666;
	margin-block-start: 0;
    margin-block-end: 0;
}

button {
	margin-left: 20px;
}


/* layout grid*/
.layout-grid
{
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

#txtInput {
	grid-column: 1;
	grid-row: 1 / 3;
}

#output {
	grid-column: 2;
	grid-row: 1 / 4;
}

#txtOutput {
	width: 100%;
	height: 100%;
}

#calculator {
	grid-column: 1;
	grid-row: 3;
}

/* calculator grid */
#calculator {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	height: 10vh;
	margin:10px;
	}

#calculator .grid-item {
	display:flex;
	justify-content: center;
	border-radius: 1.5vw;
	align-items: center;
	font-family: 'JetBrains Mono', monospace;
	}

#calculator .grid-item.light
{
	background-color: #f0f0f0;
}
#calculator .grid-item.medium
{
	background-color: #dddddd;
}

@media only screen and (max-height: 1000px) {
	.layout-grid {
		height: 80vh;
	}
	.hide-on-phone {
	  display: none;
	}
	#calculator {
		height: 28vh;
		margin-top: 0px;
	}
	#txtInput, #txtOutput{
		height: 28vh;
	}
	#txtInput {
		grid-column: 1 / 3;
		grid-row: 1;
	}
	
	#output {
		grid-column: 1 / 3;
		grid-row: 2;
	}
	
	#txtOutput {
		width: 100%;
	}
	
	#calculator {
		grid-column: 1 / 3;
		grid-row: 3;
	}
	  }
  
.cm-output-qualifier {
	color:#999;
}